h2, h3 {
    text-align: center;
    font-family: 'Garamond', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: auto;
}

h2 {
    font-variant: small-caps;
    font-size: 2em;
}

body {
    /* background-image: url("https://www.bioedonline.org/BioEd/cache/file/F0384960-7A58-4A03-B910FE885296896E.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

path:hover {
    fill:blue;
}
