body {
    background-color: auto;
}


h2, h3 {
    position: static;
    text-align: center;
    font-family: 'Garamond', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: auto;
}

h2 {
    font-variant: small-caps;
    font-size: 2em;
}

svg {
    padding-top: auto;
    position: static;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


path:hover {
    fill:blue;
}
