body {
  background-color: #bacbd9;
}

h2,
h3 {
  position: static;
  text-align: center;
  color: auto;
}

h3 {
  font-family: "Open Sans", sans-serif;
  padding-bottom: 15px;
}

h2 {
  font-variant: small-caps;
  font-family: "IM Fell English", serif;
  font-style: italic;
  font-size: 3.5em;
}

svg {
  padding-top: auto;
  position: static;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

path:hover {
  fill: blue;
}
