<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head lang="en">
    <meta charset="UTF-8" />
    <title>WorldTraveller</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica:ital@1&family=IM+Fell+English:ital@1&family=Open+Sans&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <h2>World Traveller</h2>
    <h3>Select the countries that you have visited</h3>
    <div id="react"></div>
    <div id="travelledMessage"></div>

    <script src="built/bundle.js"></script>
  </body>
</html>
